:root{
    --darker: #576F72;
    --dark:#7D9D9C;
    --light:#e4dccfb4;
    --lighter:#F0EBE3;
    --opButton: lightBlue;
    --numButton: var(--darker);
    --memButton: lightgreen;
    --display: #b3cfce;
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--darker);
}
header, footer{
    background-color:var(--light);
    padding:10px 0px;
}
button{
    border-radius:1vmin;
    border:none;
    box-shadow:2px 2px;
    cursor:pointer;
    transition: 300ms;
    font-size:1.15em;
    width:1fr;
    height:1fr;
}
button:active{
    box-shadow:none;
}
button:hover{
    font-size:1.5em;
    opacity:.8;
}
#content{
    height:100%;
}
/* generic */
.fl-col-spcBtwn {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fl-row-ctr {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
/* calculator */
#calc-container{
    aspect-ratio:3/4;
    background-color:var(--dark);
    flex-shrink:1;
    padding:8px;
    border-radius:1vmin;
    box-shadow:4px 4px;
    display:grid;
    grid-gap:10px;
    grid-auto-rows:3em;
    grid-auto-columns:4em;
    grid-template-areas: 
                    "sc sc sc sc"
                    "sc sc sc sc"
                    "mc mr mp mm"
                    "n7 n8 n9 om"
                    "n4 n5 n6 od"
                    "n1 n2 n3 os"
                    "n0 nd nn oa"
                    "c . oe oe"
}
/* button types */
.display{
    background-color: var(--display);
    border-radius:1vmin;
}
.memButton{background-color:var(--memButton);}
.opButton{background-color:var(--opButton);}
.numButton{background-color:var(--numButton);}
/* calc ids */
#screen{grid-area:sc;}
/* mem buttons */
#mPlus{grid-area:mp;}
#mMinus{grid-area:mm;}
#mR{grid-area:mr;}
#mC{grid-area:mc;}
/* number buttons */
#num9{grid-area:n9;}
#num8{grid-area:n8;}
#num7{grid-area:n7;}
#num6{grid-area:n6;}
#num5{grid-area:n5;}
#num4{grid-area:n4;}
#num3{grid-area:n3;}
#num2{grid-area:n2;}
#num1{grid-area:n1;}
#num0{grid-area:n0;}
#decimal{grid-area:nd;}
#negative{grid-area:nn;}
/* operation buttons */
#multiply{grid-area:om;}
#divide{grid-area:od;}
#subtract{grid-area:os;}
#add{grid-area:oa;}
#equals{grid-area:oe;}
#clear{grid-area:c;}